.content {
    overflow: visible;
}

button.close:focus {
    outline: none;
}

.fixed .main-header {
    background-color: white;
}

.sonata-ba-list-field-header.sonata-ba-list-field-header-batch,
td.sonata-ba-list-field.sonata-ba-list-field-batch {
  text-align: center;
}