<div class="candidates-container category-container">
    <div class="category-title">
        <div class="page-header">
            <h2>Candidatos <small>seleccione uno</small></h2>
        </div>
    </div>
    <div class="owl-carousel owl-theme category-images owl-candidates">
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://www.orizonia-talentos.es/wp-content/uploads/2013/02/foto-sedes.png" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://www.orizonia-talentos.es/wp-content/uploads/2013/02/foto-sedes.png" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://www.orizonia-talentos.es/wp-content/uploads/2013/02/foto-sedes.png" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="candidate-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
    </div>
</div>
<div class="personero-container category-container">
    <div class="category-title">
        <div class="page-header">
            <h2>Personeros <small>seleccione uno</small></h2>
        </div>
    </div>
    <div class="owl-carousel owl-theme category-images owl-candidates">
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://www.orizonia-talentos.es/wp-content/uploads/2013/02/foto-sedes.png" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://www.orizonia-talentos.es/wp-content/uploads/2013/02/foto-sedes.png" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://www.orizonia-talentos.es/wp-content/uploads/2013/02/foto-sedes.png" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
        <div class="candidate item" target="personero-student" target-id="">
            <div class="item-mark">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
            <img src="http://i983.photobucket.com/albums/ae317/monipal/PROYECTO%20ENEIDA/Minerva.jpg" alt="Owl Image" />
            <p class="lead text-success">diana diaz</p>
        </div>
    </div>
</div>