/* dashboard page */
.navbar {
    margin-bottom: 0;
}

.category-container {
    margin: 0 auto;
    width: 90%;
}

.candidate img {
    border: solid 1px #eee;
}

.text-success.lead {
    font-size: 1.2em;
}

#owl-demo .item,
.owl-candidates .item {
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

#search-container{
    position: relative;
}

.item-mark {
    text-align: center;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    color: white;
    opacity: 0;
}

.item-mark.slidein {
    top: 30%;
    opacity: .6;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: slidein;
    
    -moz-animation-duration: .5s;
    -moz-animation-name: slidein;
    
    -o-animation-duration: .5s;
    -o-animation-name: slidein;
    
    -ms-animation-duration: .5s;
    -ms-animation-name: slidein;
    
    animation-duration: .5s;
    animation-name: slidein;
}

.item-mark.slideout {
    top: 110%;
    opacity: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: slideout;
    
    -moz-animation-duration: .5s;
    -moz-animation-name: slideout;
    
    -o-animation-duration: .5s;
    -o-animation-name: slideout;
    
    -ms-animation-duration: .5s;
    -ms-animation-name: slideout;
    
    animation-duration: .5s;
    animation-name: slideout;
}

.save-button-container {
    padding: 1em 0;
}